.nunito-sans header ul li a {
    font-family: "Nunito Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    font-variation-settings:
        "wdth" 100,
        "YTLC" 500;
}

.alata-regular {
    font-family: "Alata", serif;
    font-weight: 400;
    font-style: normal;
  }
  

.playfair-display h1 {
    font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

header {
    background-color: #d4cac2;
    color: #3E5879;
    padding: 1rem 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header h1 {
    font-size: 1.5rem;
}

nav ul {
    display: flex;
    list-style: none;
}

nav ul li {
    margin-left: 1.5rem;
}

nav ul li a {
    color: #3E5879;
    text-decoration: none;
    font-size: 1rem;
    transition: color 0.3s;
    font-family: "Nunito Sans", sans-serif;
}

nav ul li a:hover {
    color: #9A7E6F;
    cursor: pointer;
}

#slider {
    overflow: hidden;
}

#slider figure {
    position: relative;
    width: 500%;
    margin: 0;
    left: 0;
    animation: 20s slider infinite;
}

#slider figure img {
    float: left;
    width: 20%;

}

#slider .text {
    position: absolute;
    top: 50%;
    left: 50%;
    font-family: "Alata", serif;
    transform: translate(-50%, -50%);
    color: #3E5879;
    font-size: 3rem;
    width: 73%;
    text-align: center;
    font-weight: bold;
    text-align: center;
    z-index: 10;
}

@keyframes slider {
    0% {
        left: 0;
    }

    20% {
        left: 0;
    }

    25% {
        left: -100%;
    }

    45% {
        left: -100;
    }

    50% {
        left: -200;
    }

    70% {
        left: -200%;
    }
}

section {
    padding: 3rem 2rem;
    text-align: center;
}

h2 {
    font-size: 2rem;
    margin-bottom: 1rem;
    color: #3E5879;
}

.features {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 2rem;
}

.f1 {
    border: 1px solid #3E5879;
    border-radius: 5px;
    overflow: hidden;
    text-align: center;
    transition: transform 0.3s;

}

.f1 img {
    width: 100%;
    height: 366px;
    object-fit: cover;
}


.f1 h3 {
    margin: 1rem 0;
    color: #3E5879;
}

.f1 h3 {
    margin: 1rem 0;
    color: #3E5879;
}

.pricing {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.p1 {
    border: 1px solid #3E5879;
    border-radius: 5px;
    overflow: hidden;
    text-align: center;
    transition: transform 0.3s;
    width: 90%;
    height: 110%;
    color: #3E5879;
}

.p1 h1 {
    margin: 1rem 0;
    font-size: 2rem;
    color: #3E5879;
}

.p1 h3 {
    margin-bottom: 1rem;
    font-size: 1.5rem;
    color: #3E5879;
}

.p1 .price {
    font-size: 2rem;
    color: #3E5879;
    margin: 1rem 0;
}

.testimonials .t1 {
    background-color: #d4cac2;
    border-left: 2px solid #3E5879;
    margin-bottom: 1rem;
    padding: 1rem 2rem;
    border-radius: 4px;
    color: #3E5879;
}

.t1 h4 {
    margin-bottom: 600px;
    margin: 0 auto;
    color: #3E5879;
}

.c1 form {
    max-width: 600px;
    margin: 0 auto;
}

.c1 input,
.c1 textarea {
    width: 100%;
    padding: 0.75rem;
    margin: 0.5rem 0;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.c1 button {
    background-color: #d4cac2;
    color: #3E5879;
    padding: 0.75rem 1.5rem;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
    transition: 0.3s;
}